<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Mood Today
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeApp()">Close</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col col-12 pt-5>
     <ion-button (click)="openModal()" expand="block">Enter Your Mood</ion-button>
    </ion-col>
  </ion-row>
 <ion-row>
  <canvas #barCanvas style="position:relative; height: 20vh; width: 40vw;"></canvas>
 </ion-row>
</ion-content>
